.homecontainer {
  display: flex;
}

@media(max-width: 768px) {
.homecontainer { flex-direction: column; }
.banner { flex-grow: 1; }
.formcontainer { width: 600px; }
}

@media(max-width: 480px) {
.homecontainer { flex-direction: column; }
.banner { flex-grow: 1; }
.formcontainer { width: 400px; }
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 117vh;
  flex-grow: 2;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.formcontainer {
  top:5px;


}

.form {
  background-color: #1e1a2f;
  color: white;
  padding : 10px;
}

.form-group {
  padding: 50px 20px;
  height: 5vh;

}